body{
    color: #222;
    font-family: sans-serif;

}

div{
    background-color: #000;
    padding: 20px;
}

.contenedor2{
    padding: 30px;
    background: red;
}

.input{
border: 1px solid #fff;
border-radius: 5px;
padding: 6px;
color: #444;
}